<form [formGroup]="form" class="add-one">
  <tui-textfield>
    <label tuiLabel>Название</label>
    <input
      placeholder="Введи название"
      tuiTextfield
      formControlName="title"
    />
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>В наличии</label>
    <input
      placeholder="Количество шт."
      tuiInputNumber
      formControlName="amount"
    />
  </tui-textfield>

  @if (isEditMode) {
    <tui-textfield>
      <label tuiLabel>Продано</label>
      <input
        placeholder="Количество шт."
        tuiInputNumber
        formControlName="sold"
      />
    </tui-textfield>
  }

  <tui-textfield iconStart="japanese-yen">
    <label tuiLabel>Себестоимость</label>
    <input
      placeholder="Введи цифру в юанях"
      tuiInputNumber
      formControlName="cost_price"
    />
  </tui-textfield>

  <tui-textfield iconStart="russian-ruble">
    <label tuiLabel>Цена конкурента</label>
    <input
      placeholder="Введи цифру в рублях"
      tuiInputNumber
      formControlName="competitors_price"
    />
  </tui-textfield>

  <tui-textfield [iconStart]="kztSvgIcon">
    <label tuiLabel>Моя цена</label>
    <input
      placeholder="Введи цифру в тенге"
      tuiInputNumber
      formControlName="my_cost"
    />
  </tui-textfield>

  <button
    size="m"
    tuiButton
    appearance="primary"
    type="submit"
    (click)="addOne()"
  >
    {{ data ? 'Редактировать товар' : 'Добавить товар' }}
  </button>
</form>
