::ng-deep.t-heading {
  padding-inline-start: 16px;
  padding-block-start: 16px;
}

.cell-dialog {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px;
  height: calc(100dvh - 48px - 28px);
  max-height: calc(100dvh - 48px - 28px);
  justify-content: space-between;

  &_with-statistic {
    gap: 16px;
  }
}

.sold-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sold-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.statistic {
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
}
