<div
  class="cell-dialog"
  [class.cell-dialog_with-statistic]="statisticExpanded()">
  <tui-expand [expanded]="statisticExpanded()">
    <ng-template tuiExpandContent>
      <div style="display: flex; flex-direction: column; gap: 16px">
        <div tuiSurface="outline" class="statistic">
          <div class="statistic__item">
            <h3 style="margin: 0">Расходы</h3>

            <ng-container
              *ngTemplateOutlet="
                chipList;
                context: { $implicit: sumCostInKzt() }
              " />
          </div>
        </div>

        <div tuiSurface="outline" class="statistic">
          <div class="statistic__item">
            <h3 style="margin: 0">Доходы</h3>

            <div style="display: flex; flex-direction: column; gap: 16px">
              <ng-container
                *ngTemplateOutlet="
                  chipList;
                  context: { $implicit: sumMyCostInKzt() }
                " />

              @if (sumMyCostSellsInKzt(); as sum) {
                <ng-container
                  *ngTemplateOutlet="
                    chipList;
                    context: { $implicit: sum, prefix: '+ ' }
                  " />
              }
            </div>
          </div>
        </div>

        <div tuiSurface="outline" class="statistic">
          <div class="statistic__item">
            <h3 style="margin: 0">Прибыль</h3>

            <div style="display: flex; flex-direction: column; gap: 16px">
              <ng-container
                *ngTemplateOutlet="
                  chipList;
                  context: { $implicit: sumSoldInKzt() }
                " />

              @if (sumSellInKzt(); as sum) {
                <ng-container
                  *ngTemplateOutlet="
                    chipList;
                    context: { $implicit: sum, prefix: '+ ' }
                  " />
              }
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </tui-expand>

  <tui-scrollbar style="flex-grow: 1">
    <section class="sold-list">
      @for (soldGroup of form.controls; track soldGroup) {
        <form class="sold-item" [formGroup]="soldGroup">
          <tui-chip
            tuiFade
            size="m"
            appearance="secondary"
            style="
              flex: 1 1 auto;
              display: flex;
              justify-content: space-between;
            ">
            <span style="flex: 1 0 auto">{{
              soldGroup.controls['title'].value
            }}</span>
            <span>{{ soldGroup.controls['amount'].value }} шт.</span>
          </tui-chip>

          @if (currentShowCost() !== null) {
            @let myCost = soldGroup.controls['myCost'].value;
            @let myCostSold = myCost * soldGroup.controls['sold'].value;

            @switch (currentShowCost()) {
              @case (currencies.RUB) {
                <app-cost-chip
                  style="
                    flex: 0 0 100px;
                    display: flex;
                    justify-content: center;
                  "
                  appearance="secondary"
                  [suffix]="currencies.RUB"
                  [value]="myCostSold / kztCurrency()" />
              }
              @case (currencies.KZT) {
                <app-cost-chip
                  style="
                    flex: 0 0 100px;
                    display: flex;
                    justify-content: center;
                  "
                  [suffix]="currencies.KZT"
                  [value]="myCostSold" />
              }
            }
          }

          <tui-textfield
            style="min-width: 60px; max-width: fit-content"
            tuiTextfieldSize="m"
            [tuiTextfieldCleaner]="false">
            <input
              style="text-align: center"
              tuiInputNumber
              formControlName="sold" />
          </tui-textfield>

          <app-icon-button
            icon="x"
            appearance="outline-destructive"
            (clicked)="deleteOne($index)" />
        </form>
      }
    </section>
  </tui-scrollbar>

  <div class="actions">
    <div style="display: flex; gap: 16px; width: 100%; align-items: center">
      <tui-select
        style="flex: 1 0 auto"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        [formControl]="cellItemControl">
        Добавить товар к продаже
        <input
          disabled
          placeholder="Отсортированы как в таблице"
          tuiTextfieldLegacy />
        <tui-data-list-wrapper
          emptyContent="Нет товаров в наличии"
          *tuiDataList
          [items]="
            items()
              | tuiFilterByInput
              | sortById
              | filterWithAmount
              | filterByAddedSell: addedSellIds()
          " />
      </tui-select>
    </div>

    <div style="display: flex; gap: 16px">
      <button
        tuiIconButton
        tuiChevron
        type="button"
        size="m"
        [appearance]="
          currentShowCost() === null
            ? 'secondary-destructive'
            : currentShowCost() === currencies.RUB
              ? 'secondary-grayscale'
              : 'secondary'
        "
        [iconStart]="
          currentShowCost() === null
            ? 'x'
            : currentShowCost() === currencies.RUB
              ? 'russian-ruble'
              : kztSvg
        "
        [tuiDropdown]="dropdownContent"
        [tuiDropdownManual]="openCostDropdown()"
        [tuiObscuredEnabled]="openCostDropdown()"
        (click)="openCostDropdown.set(!openCostDropdown())"
        (tuiActiveZoneChange)="onActiveZone($event)"
        (tuiObscured)="onObscured($event)">
        Choose
        <ng-template #dropdownContent>
          <div style="display: flex; flex-direction: column; gap: 8px">
            <app-icon-button
              appearance="flat"
              [icon]="kztSvg"
              (clicked)="onDropdownItemClick(currencies.KZT)" />
            <app-icon-button
              appearance="flat-grayscale"
              icon="russian-ruble"
              (clicked)="onDropdownItemClick(currencies.RUB)" />
            <app-icon-button
              appearance="flat-destructive"
              icon="x"
              (clicked)="onDropdownItemClick(null)" />
          </div>
        </ng-template>
      </button>

      <app-icon-button
        icon="chart-no-axes-combined"
        [appearance]="
          !statisticExpanded() ? 'secondary-destructive' : 'secondary'
        "
        (clicked)="statisticExpanded.set(!statisticExpanded())" />

      <tui-loader
        style="width: 100%"
        size="m"
        [overlay]="true"
        [showLoader]="isLoading()">
        <button
          style="width: 100%"
          size="m"
          tuiButton
          appearance="primary"
          type="submit"
          [disabled]="isLoading() || !form.length"
          (click)="onSellButtonClick()">
          Продать
        </button>
      </tui-loader>
    </div>
  </div>
</div>

<ng-template let-kzt let-prefix="prefix" #chipList>
  <div style="display: flex; flex-direction: column; gap: 16px">
    <div style="display: flex; gap: 16px; justify-content: space-between">
      <app-cost-chip
        appearance="secondary"
        [prefix]="prefix"
        [suffix]="currencies.RUB"
        [value]="kzt" />
      <app-cost-chip
        [prefix]="prefix"
        [suffix]="currencies.KZT"
        [value]="kzt / kztCurrency()" />
    </div>
  </div>
</ng-template>
