<div class="main">
  <section class="main__currency">
    <div style="display:flex; gap: 8px; width: 100%; align-items: center">
      <tui-textfield class="main__currency-item">
        <label tuiLabel>CNY-KZT</label>
        <input
          placeholder="Введи курс"
          tuiInputNumber
          [(ngModel)]="uanCurrency"
        />
      </tui-textfield>
      <tui-textfield class="main__currency-item">
        <label tuiLabel>RUB-KZT</label>
        <input
          placeholder="Введи курс"
          tuiInputNumber
          [(ngModel)]="kztCurrency"
        />
      </tui-textfield>

      <tui-textfield class="main__currency-item">
        <label tuiLabel>+ %</label>
        <input
          placeholder="Введи процент"
          tuiInputNumber
          [(ngModel)]="percent"
        />
      </tui-textfield>
    </div>
  </section>

  <tui-scrollbar>
    <tui-loader size="xl" [overlay]="true" [showLoader]="isLoading()">
      <table tuiTable class="table">
        <thead>
        <tr>
          <th tuiTh [sticky]="true" style="vertical-align: middle; text-align: center;">
            <button
              tuiIconButton
              size="s"
              appearance="flat"
              [iconStart]="isDarkTheme() ? 'moon' : 'sun'"
              (click)="onThemeChange()">Change theme</button>
          </th>
          <th [sticky]="true" tuiTh *ngFor="let item of store() | sortById" style="text-align: center">
            <div>{{ item.title }}</div>
          </th>
        </tr>
        </thead>

        <tbody tuiTbody [data]="store() | sortById">
        <tr *ngFor="let f of fields; let lastField = last">
          <th tuiTd>{{ f.label }}</th>

          <!-- для каждого товара выводим значение поля -->
          @for (item of store() | sortById; track item.id) {
            <td tuiTd style="text-align:center;" [ngStyle]="{'padding': lastField ? '0': '12px'}">
              <ng-container [ngSwitch]="f.key">
                <!-- raw CNY -->
                <ng-container *ngSwitchCase="'cost_price'">
                  <div class="table__cell-item">
                    <tui-chip size="s" appearance="outline">
                      {{ item.cost_price | tuiFormatNumber | async }} CNY
                    </tui-chip>

                    <tui-chip size="s" appearance="primary">
                      {{ computeCostPriceUpd(item) | tuiFormatNumber: { precision: 0 } | async }} KZT
                    </tui-chip>

                    <tui-chip size="s" appearance="secondary">
                      {{ (computeCostPriceUpd(item) / kztCurrency) | tuiFormatNumber: { precision: 0 } | async }} RUB
                    </tui-chip>
                  </div>
                </ng-container>

                <!-- цена конкурента (RUB и KZT) -->
                <ng-container *ngSwitchCase="'competitors_price'">
                  <div class="table__cell-item">
                    <tui-chip size="s" appearance="primary">
                      {{ (item.competitors_price * kztCurrency) | tuiFormatNumber: { precision: 0 } | async }} KZT
                    </tui-chip>
                    <tui-chip size="s" appearance="secondary">
                      {{ item.competitors_price | tuiFormatNumber | async }} RUB
                    </tui-chip>
                  </div>
                </ng-container>

                <!-- моя цена -->
                <ng-container *ngSwitchCase="'my_cost'">
                  <div class="table__cell-item">
                    <tui-chip size="s" appearance="primary">
                      {{ (item.my_cost) | tuiFormatNumber: { precision: 0 } | async }} KZT
                    </tui-chip>
                    <tui-chip size="s" appearance="secondary">
                      {{ item.my_cost / kztCurrency | tuiFormatNumber: { precision: 0 } | async }} RUB
                    </tui-chip>
                  </div>
                </ng-container>

                <!-- маржа -->
                <ng-container *ngSwitchCase="'result'">
                  <div class="table__cell-item">
                    <tui-chip size="s" appearance="primary">
                      {{ computeResult(item) | tuiFormatNumber: { precision: 0 } | async }} KZT
                    </tui-chip>
                    <tui-chip size="s" appearance="secondary">
                      {{ (computeResult(item) / kztCurrency) | tuiFormatNumber: { precision: 0 } | async }} RUB
                    </tui-chip>
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="'operations'">
                  <div>
                    <button
                      tuiIconButton
                      size="m"
                      appearance="flat"
                      iconStart="pencil"
                      (click)="editOne(item)">Ред.</button>
                    <button
                      tuiIconButton
                      size="m"
                      appearance="flat-destructive"
                      iconStart="trash"
                      (click)="deleteOne(item)">Удал.</button>
                  </div>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  —
                </ng-container>
              </ng-container>
            </td>
          }
        </tr>
        </tbody>
      </table>
    </tui-loader>
  </tui-scrollbar>

  <button
    size="m"
    tuiButton
    appearance="primary"
    type="button"
    (click)="addOne()"
  >
    Добавить товар
  </button>
</div>
