:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-x: hidden;
  width: 100%;
  max-height: 100%;

  &__currency {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;

    &-item {
      width: 100%;
    }
  }
}

.table {
  margin: auto;

  &__cell {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }
}
